---
import { getCollection, getEntry } from "astro:content";

import AboutSitesLayout from "../layouts/AboutSitesLayout.astro";
import Header from "../components/Header.astro";
import Slideshow from "../components/Slideshow.astro";

const about = await getEntry({collection: "about", slug: "about"});

const { Content } = await about.render();
---

<AboutSitesLayout>
  <h2 class="pb-7">About</h2>
  <div>
    <Content components={{ Slideshow }}/>
  </div>
  <h2 class="pb-7">Info</h2>
  <p>
    TODO: Info
  </p>
</AboutSitesLayout>

