---
import { getCollection, getEntry } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Slideshow from "../components/Slideshow.astro";

const about = await getEntry({collection: "about", slug: "about"});

const { Content } = await about.render();
---

<BaseLayout>
  <nav class="hidden md:flex flex-col pr-20 w-64 ml-16">
  </nav>
  <main class="flex flex-1 flex-col max-w-3xl pl-3 md:pl-0 md:mr-6">
    <Header />
    <div>
      <h2>About</h2>
      <p>
        <Content components={{ Slideshow }}/>
      </p>
      <h2>Info</h2>
      <p>
        TODO: Info
      </p>
    </div>
  </main>
  <footer class="ml-auto md:mr-3">
    <nav class="sticky right-0 inset-y-0 w-6">
      <div
        class="origin-top-left translate-y-[100vh] -rotate-90 w-[100vh] px-4 flex flex-row md:font-bold gap-8 whitespace-nowrap"
      >
        <a href="/about">About</a>
        <a href="https://www.instagram.com/studio_ferregan/">Instagram</a>
        <a href="mailto:gustavo@ferregan.com">gustavo@ferregan.com</a>
        <a href="tel:00436705513222">+43 670 551 3222</a>
      </div>
    </nav>
  </footer>
</BaseLayout>

