---
import { getCollection, getEntry } from "astro:content";

import AboutSitesLayout from "../layouts/AboutSitesLayout.astro";
import Header from "../components/Header.astro";
import Slideshow from "../components/Slideshow.astro";

const about = await getEntry({collection: "about", slug: "about"});

const { Content } = await about.render();
---

<AboutSitesLayout>
  <h2 class="pb-7">About</h2>
  <section>
    <Content components={{ Slideshow }}/>
  </section>
  <h2 class="pb-7">Info</h2>
  <section>
    TODO: Info

    <nav class="flex flex-row justify-evenly">
      <a href="/impressum">Impressum</a>
    </nav>
  </section>
</AboutSitesLayout>

