---
import { getEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/Navigation.astro";

const impressum = await getEntry("about", "impressum");
const { Content } = await impressum?.render();

---

<BaseLayout>
  <Navigation>
    <main class="mt-auto">
      <Content />
    </main>
  </Navigation>
</BaseLayout>
