---
export interface Props {
  cols: number;
}

const { cols } = Astro.props;
---

<div class="illustration-grid" style={`--columns: ${cols}`}>
  <slot />
</div>


<style is:global>
/* markdown inserts p tags, apply grid to p tag */
div.illustration-grid > p {
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
}
</style>
