---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const portfolioItems = await getCollection("portfolio");
const portfolio = portfolioItems.sort((a, b) => a.data.order - b.data.order);
---

<header
    class="sticky flex justify-between items-start top-0 w-full bg-inherit h-28 pt-5"
>
    <a class="text-3xl font-bold z-50 tracking-tight" href="/">
        <h1>Ferregan</h1>
    </a>
    <button
        type="button"
        class="h-9 md:hidden whitespace-nowrap"
        id="mobile-menu-open"
    >
        Menu
    </button>
    <nav
        id="mobile-menu"
        class="fixed md:hidden transition-[left] left-full w-full inset-y-0 z-30"
    >
        <div class="ml-14 bg-yellow h-full flex flex-col">
            <div class="pt-5 h-28 flex items-start">
                <button class="ml-auto h-9 px-6" id="mobile-menu-close">
                    Close
                </button>
            </div>
            <ul class="flex-1 px-3 overflow-auto">
                {
                portfolio.map((item) => (
                    <li class="text-xs/6 pb-1">
                        <a href={`/#${item.slug}`}>
                            <Image
                                class="aspect-video object-cover w-full"
                                alt={`Banner for ${item.data.title}`}
                                src={item.data.banner}
                            />
                            {item.data.title}
                        </a>
                    </li>
                ))
                }
            </ul>
        </div>
    </nav>
</header>

<script>
  const mobileMenu = document.getElementById("mobile-menu");
  const sidebar = document.getElementsByTagName("aside")[0];

  function openMobileMenu() {
    mobileMenu?.classList.add("left-0");
    mobileMenu?.classList.remove("left-full");
    // make content behind fixed overlay non-scrollable
    document.body.classList.add("overflow-hidden");
    sidebar?.classList.add("invisible");
  }

  function closeMobileMenu() {
    mobileMenu?.classList.remove("left-0");
    mobileMenu?.classList.add("left-full");
    document.body.classList.remove("overflow-hidden");
    sidebar?.classList.remove("invisible");
  }

  document
    .getElementById("mobile-menu-open")
    ?.addEventListener("click", openMobileMenu);

  document
    .getElementById("mobile-menu-close")
    ?.addEventListener("click", closeMobileMenu);

  document.querySelectorAll('a[href^="/#"]').forEach((anchor) => {
    anchor.addEventListener("click", closeMobileMenu);
  });
</script>
