---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const portfolioItems = await getCollection("portfolio");
const portfolio = portfolioItems.sort((a, b) => a.data.order - b.data.order);
---

<header
    class="sticky flex justify-between items-start top-0 w-full bg-white h-28 pt-5"
>
    <a href="/">
        <h1 class="text-3xl font-bold z-50">Ferregan</h1>
    </a>
    <button
        type="button"
        class="h-9 md:hidden whitespace-nowrap"
        id="mobile-menu-open"
    >
        Menu
    </button>
    <nav
        id="mobile-menu"
        class="fixed md:hidden transition-[left] left-full w-full inset-y-0 z-30"
    >
        <div class="ml-14 bg-yellow h-full flex flex-col">
            <div class="pt-5 h-28 flex items-start">
                <button class="ml-auto h-9 px-6" id="mobile-menu-close">
                    Close
                </button>
            </div>
            <ul class="flex-1 px-3 overflow-auto">
                {
                portfolio.map((item) => (
                    <li class="text-xs/6 pb-1">
                        <a href={`#${item.slug}`}>
                            <Image
                                class="aspect-video object-cover w-full"
                                alt={`Banner for ${item.data.title}`}
                                src={item.data.banner}
                            />
                            {item.data.title}
                        </a>
                    </li>
                ))
                }
            </ul>
        </div>
    </nav>
</header>

