---
const onMainPage = Astro.url.pathname == "/";
---

<aside class="ml-auto md:mr-3">
  <nav class="sticky right-0 inset-y-0 w-6">
    <div
      class="text-[0.9375rem] origin-top-left translate-y-[100vh] -rotate-90 w-[100vh] px-4 flex flex-row md:font-bold gap-8 whitespace-nowrap"
    >
      {onMainPage ? (
        <a href="/about">About</a>
      ): (
        <a href="/">Go back</a>
      )}
      <a href="https://www.instagram.com/studio_ferregan/">Instagram</a>
      <a href="mailto:gustavo@ferregan.com">gustavo@ferregan.com</a>
      <a href="tel:00436705513222">+43 670 551 3222</a>
    </div>
  </nav>
</aside>
