<div class="slideshow">
  <slot />
</div>

<script>
  const slideshows = document.querySelectorAll(".slideshow");

  for (const container of slideshows) {
    // markdown parser adds <p> tags inside elements, so we want the p tag
    const imageContainer = container.children[0];

    for (const e of imageContainer.children) {
      e.classList.add("hidden");
      // load eagerly, so it doesnt flicker on slideshow change
      e.setAttribute("loading", "eager")
    }

    const numChildren = imageContainer.children.length;
    let currentChild = 0;

    imageContainer.children[currentChild].classList.toggle("hidden");

    setInterval(() => {
      const prevChild = currentChild;
      imageContainer.children[prevChild].classList.toggle("hidden");
      currentChild = (prevChild + 1) % numChildren;
      imageContainer.children[currentChild].classList.toggle("hidden");
    }, 700);
  }
</script>
