<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Ferregan is an independent studio in the Austrian Alps, specializing in illustration and design. Since 2022 Ferregan works on visual experiences globally across various media, such as branding, print, and digital platforms with a focus on simplifying visual communication for greater accessibility."
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Ferregan</title>
    <style is:global>
      @font-face {
        font-family: "Satoshi-Variable";
        src: url("/fonts/Satoshi-Variable.woff2") format("woff2"),
          url("/fonts/Satoshi-Variable.woff") format("woff"),
          url("/fonts/Satoshi-Variable.ttf") format("truetype");
        font-weight: 400 700;
        font-display: swap;
        font-style: normal;
      }
      img {
        pointer-events: none;
        user-select: none;
        object-fit: cover;
        width: 100%;
        background-color: white;
      }
    </style>
  </head>
  <body class="text-xs/4">
    <slot />
  </body>
</html>
